html {
  height: 100%;
  width: 100%; }

body {
  padding: 0;
  margin: 0;
  font-weight: 100;
  font-family: 'Lato', 'Tahoma', 'Arial';
  color: #CFD198;
  background-color: #000000; }

h1, h2, h3 {
  margin-bottom: 10px; }

h1 {
  font-size: 22pt;
  color: #B44012; }

h2 {
  color: #C26811; }

h3 {
  color: #ffffff; }

.background {
  background-image: url("/images/app_background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;
  background-size: cover; }

.background-dimmer {
  background-color: rgba(0, 0, 0, 0.3); }

.background, .background-dimmer {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }

.list-striped li {
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 1px;
  padding-top: 5px;
  border-left: 1px solid #B98940;
  padding-top: 8px;
  padding-bottom: 8px; }
  .list-striped li:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border-left: 1px solid #C26811; }

.title {
  font-size: 96px;
  font-weight: 100; }

.index-page .list-header {
  background-color: rgba(0, 0, 0, 0.7); }

.index-page .content {
  margin-top: 25px;
  padding-bottom: 25px; }

.index-page .title {
  font-size: 12pt;
  font-weight: 400; }
  .index-page .title .text {
    color: #ffffff;
    margin-right: 15px; }

.index-page .actions {
  float: right; }
  .index-page .actions .btn-secondary {
    padding: 2px 5px; }

#action-box {
  position: fixed;
  top: 15px;
  right: 15px; }

.left-options {
  position: fixed;
  top: 10px;
  left: 10px; }
  .left-options * {
    margin: 5px 0;
    display: block; }

#word-count {
  padding: 5px;
  color: #B44012; }

.form-control {
  background-color: transparent !important;
  color: #ffffff !important;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ffffff; }
  .form-control:focus {
    box-shadow: none !important;
    transition: border 300ms; }

.label-inverse.label-default {
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #C26811; }

.label-inverse.label-success {
  background-color: rgba(92, 184, 92, 0.4);
  border: 1px solid #5cb85c; }

.label-inverse.label-info {
  background-color: rgba(91, 192, 222, 0.4);
  border: 1px solid #5bc0de; }

a.inverse-link {
  color: white; }

.container {
  background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 35px;
  margin-top: 35px; }

.navbar .container {
  background: none;
  padding-bottom: 0px;
  margin-top: 0px; }

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.8); }

.btn {
  text-decoration: none; }

.btn-danger {
  background-color: rgba(217, 83, 79, 0.2) !important; }

.form-control.transparent {
  color: #ffffff;
  font-size: 22pt;
  border: none;
  background: transparent;
  border-radius: 0;
  border-bottom: 1px solid #ffffff; }
  .form-control.transparent option {
    color: white;
    font-size: 14pt;
    background-color: rgba(0, 0, 0, 0.8); }

select {
  border: none; }

input[type="text"]:focused {
  border: none;
  border-bottom: 1px solid #ffffff; }

a.btn-secondary, a.btn-primary, a.btn-success {
  color: #ffffff; }

.btn-success-inverse {
  color: #afb42b;
  background-color: rgba(92, 184, 92, 0);
  border-color: #afb42b; }
  .btn-success-inverse:hover {
    border-color: #aeea00;
    color: #aeea00; }

#spin {
  border: 1px solid white;
  color: white;
  background-color: transparent; }

.form-control.title-field {
  margin-top: 25px;
  height: 32pt; }

.cke_chrome {
  border: none !important; }

.cke_bottom, .cke_top {
  background: transparent !important; }

.cke_contents {
  background-color: none !important;
  height: 450px !important; }

.cke_top {
  color: #363636; }

.cke_toolgroup, input[type="text"] {
  margin: 0 6px 3px 0;
  padding: 5px; }

.cke_maximized.cke_inner {
  background-color: rgba(0, 0, 0, 0.8); }

#note-page .container {
  padding-bottom: 15px; }

.list-header {
  border-left: 1px solid #008B95;
  margin-bottom: 2px; }
  .list-header h4 {
    color: rgba(255, 255, 255, 0.87); }
  .list-header:hover {
    border-color: #B44012;
    background-color: rgba(0, 0, 0, 0.8); }

@media (max-width: 970px) {
  #note-page .cke_contents {
    height: 360px !important; } }

@media (min-width: 1500px) {
  #note-page .container {
    width: 1400px; }
  #note-page .cke_contents {
    height: 600px !important; } }

@media (min-width: 1900px) {
  #note-page .cke_contents {
    height: 800px !important; } }

@media (min-width: 1800px) {
  #note-page .container {
    width: 1780px; } }

#card-page {
  background-image: url("/images/cards_background.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  #card-page .list > li {
    border-bottom: 1px solid #C26811; }
    #card-page .list > li ul {
      list-style-type: none;
      padding-left: 0; }
  #card-page .card.empty {
    border-top: 5px solid red; }

#cards h1 {
  color: #FFCE7F; }

#cards .container {
  margin-top: 60px; }

#cards .cke_contents {
  height: 200px !important; }

#cards #action-box {
  top: 50px; }

#cards .left-options {
  top: 50px; }

/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
  background-color: #000000; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #000000; }

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(100, 100, 100, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100, 100, 100, 0.4); }

.card {
  border: 1px solid black;
  background: rgba(240, 217, 187, 0.9);
  height: 170px;
  color: #363636;
  box-shadow: 1px 1px 2px 3px;
  padding-top: 5px; }
  .card:hover, .card:focus {
    color: #000; }
    .card:hover .english, .card:focus .english {
      opacity: 1; }
  .card .latin {
    font-family: "Times New Roman";
    font-size: 14pt;
    font-weight: bold; }
    .card .latin ul {
      padding: 0;
      margin-top: 14pt;
      list-style: none; }
      .card .latin ul li {
        padding-left: -5px; }
  .card .english {
    opacity: 0;
    transition: opacity 750ms; }
    .card .english .definition {
      font-size: 12pt;
      font-weight: bold; }
    .card .english .origin {
      font-size: 8pt;
      text-align: justify; }
  .card .lesson-number {
    font-size: 10pt; }

/*# sourceMappingURL=app.css.map */