.form-control {
  background-color: transparent !important;
  color: white !important;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid white; }
  .form-control:focus {
    box-shadow: none !important;
    transition: border 300ms; }
  .form-control #spin {
    border: 1px solid white;
    color: white;
    background-color: transparent; }

body {
  padding: 0;
  margin: 0;
  font-weight: 100;
  font-family: 'Lato', 'Tahoma';
  color: #CFD198;
  background-color: #000000;
  background-image: url("/images/app_background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

#card-page {
  background-image: url("/images/cards_background.jpg"); }

#note-page {
  background-image: url("/images/notes_background.jpg"); }

.form-control.title-field {
  margin-top: 25px;
  height: 32pt; }

#cards h1 {
  color: #FFCE7F; }

html, body {
  height: 100%;
  width: 100%; }

h1, h2, h3 {
  margin-bottom: 10px; }

h1 {
  font-size: 22pt;
  color: #B44012; }

h2 {
  color: #C26811; }

h3 {
  color: #834E1A; }

.background-dimmer {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); }

.container {
  background-color: rgba(0, 0, 0, 0.6); }

.navbar .container {
  background: none; }

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.8); }

.content {
  padding-bottom: 25px; }

.main {
  width: 75%;
  display: inline-block; }

.page {
  padding: 0 5px; }

.right-aside {
  padding-top: 1em;
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: top; }

.left-options {
  position: fixed;
  top: 25px;
  left: 25px; }
  .left-options * {
    margin: 5px 0;
    display: block; }

.list-unstyled {
  list-style-type: none;
  margin: 0; }
  .list-unstyled li {
    margin-bottom: 2px; }

.side-note {
  display: inline-block; }

.commentList {
  max-height: 200px;
  overflow-y: scroll; }

.title {
  font-size: 96px;
  font-weight: 100; }

.cke_chrome {
  border: none !important; }

.cke_bottom, .cke_top {
  background: transparent !important; }

.cke_contents {
  background-color: none !important;
  height: 450px !important; }

#cards .cke_contents {
  height: 200px !important; }

.cke_top {
  color: #363636; }

.cke_toolgroup, input[type="text"] {
  margin: 0 6px 3px 0;
  padding: 5px; }

.form-control.transparent {
  color: #e6e6e6;
  font-size: 22pt;
  border: none;
  background: transparent;
  border-radius: 0;
  border-bottom: 1px solid #ddd; }

input[type="text"]:focused {
  border: none;
  border-bottom: 1px solid #ddd; }

.btn-secondary, .btn-primary, .btn-success {
  color: white; }

.index-page .title {
  font-size: 13pt;
  font-weight: 600; }

.index-page .actions {
  float: right; }
  .index-page .actions .btn-secondary {
    padding: 2px 5px; }

.btn {
  text-decoration: none; }

.clearfix:before, .clearfix:after {
  content: ''; }

.container {
  padding-bottom: 35px; }

.card {
  border: 1px solid black;
  background: rgba(240, 217, 187, 0.9);
  height: 170px;
  color: #363636;
  box-shadow: 1px 1px 2px 3px; }
  .card:hover, .card:focus {
    color: #000; }
    .card:hover .english, .card:focus .english {
      opacity: 1; }
  .card .latin {
    font-family: "Times New Roman";
    font-size: 14pt;
    font-weight: bold; }
    .card .latin ul {
      padding: 0;
      margin-top: 14pt;
      list-style: none; }
      .card .latin ul li {
        padding-left: -5px; }
  .card .english {
    opacity: 0;
    transition: opacity 1s; }
    .card .english .definition {
      font-size: 12pt;
      font-weight: bold; }
    .card .english .origin {
      font-size: 8pt;
      text-align: justify; }
  .card .lesson-number {
    font-size: 10pt; }

/*# sourceMappingURL=app.css.map */