@import 'variables';

.form-control {
  background-color: rgba(0,0,0,0.0) !important;
  color: white !important;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid white;
  &:focused, &:focus {
    box-shadow: 0 !important;
    transition: border 500ms;
  }
  #spin {
    border: 1px solid white;
    color: white;
    background-color: rgba(0,0,0,0.0);
  }
}

body {
  padding: 0;
  margin: 0;
  font-weight: 100;
  font-family: 'Lato', 'Tahoma';
  color: $primaryColor;
  background-color: $backgroundColor;
  background-image: url("/images/app_background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#card-page {
  background-image: url("/images/cards_background.jpg");
}

#note-page {
  background-image: url("/images/notes_background.jpg");
}

.form-control {
  &.title-field {
    margin-top: 25px;
    height: 32pt;
    &:focus {
      box-shadow: none !important;
      transition: border 500ms;
    }
  }
}

html, body {
  height: 100%;
  width: 100%;
}

h1, h2, h3 {
  margin-bottom: 10px;
}

h1 {
  font-size: 22pt;
  color: #B44012;
}
#cards {
  h1 {
    color: #FFCE7F;
  }
}

h2 {
  color: #C26811;
}

h3 {
  color: #834E1A;
}

.pull-right {
  float: right;
}

.background-dimmer {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.container {
  background-color: rgba(0,0,0,0.6);
}

.navbar {
  .container {
    background: none;
  }
}
.navbar-inverse {
  background-color: rgba(0,0,0, 0.8);
}
.content {
  padding-bottom: 25px;
}

.main {
  width: 75%;
  display: inline-block;
}
.page {
  padding: 0 5px;
}
.right-aside {
  padding-top: 1em;
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: top;
}

.left-options {
  position: fixed;
  top: 25px;
  left: 25px;
  * {
    margin: 5px 0;
    display: block;
  }
}

.list-unstyled {
  list-style-type: none;
  margin: 0;
  li {
    margin-bottom: 2px;
  }
}

.side-note {
  display: inline-block;
}
.commentList {
  max-height: 200px;
  overflow-y: scroll;
}
// .container {
//     text-align: center;
//     display: table-cell;
//     vertical-align: middle;
// }

// .content {
//     text-align: center;
//     display: inline-block;
// }

.title {
    font-size: 96px;
    font-weight: 100;
}

// cke styles
// 
.cke_chrome {
  border: none !important;
}
.cke_bottom, .cke_top {
  background: rgba(0,0,0,0.0) !important;
}

.cke_contents {
  background-color: none !important;
  height: 450px !important;
}
#cards {
  .cke_contents {
    height: 200px !important;
  }
}

.cke_top {
  color: #363636;
}
.cke_toolgroup, input[type="text"] {
  margin: 0 6px 3px 0;
  padding: 5px;
}

.form-control {
  &.transparent {
    color: #e6e6e6;
    font-size: 22pt;
    border: none;
    background: rgba(0,0,0,0.0);
    border-radius: 0;
    border-bottom: 1px solid #ddd;
  }
}

input[type="text"]:focused {
  border: none;
  border-bottom: 1px solid #ddd;
} 

.btn-secondary, .btn-primary, .btn-success {
  color: white;
}



.index-page {
  .title {
    font-size: 13pt;
    font-weight: 600;
  }
  // .row {
  //   padding: 5px 10px;
  //   &:nth-child(even) {
  //     background-color: rgba(0, 0, 0, 0.3);
  //   }
  // }
  .actions {
    float: right;
    .btn-secondary {
      padding: 2px 5px;
    }
  }
}
.btn {
  text-decoration: none;
}

.clearfix:before, .clearfix:after {
  content: '';
}
