html {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-weight: 100;
  font-family: 'Lato', 'Tahoma', 'Arial';
  color: $primaryColor;
  background-color: $backgroundColor;
}

::selection {
  color: white;
  background: $tealA700; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: white;
  background: $tealA700; /* Gecko Browsers */
}

#react-nav {
  position: fixed;
  z-index: 455;
  top: 0px;
  left: 0px;
  width: 100%;
}
#nav-top-right {
  position: fixed;
  top: 13px;
  right: 13px;
  z-index: 1101;
}

.mobile-nav {
  display: none;
}
@media (max-width: 900px){
  .mobile-nav {
    display: block;  
  }
  .navbar-fixed-top {
    display: none;
  }
}

.footer-fixed-bottom {
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin-top: 0px;
  border-top: none;
  padding-top: 0px;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  .container {
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $transparent;
  }
}
.nav {
  .btn-group {
    .btn {
      margin-top: 8px;
    }
  }
}
h1, h2, h3 {
  margin-bottom: 10px;
}

h1 {
  font-size: 22pt;
  color: $white;
}

h2 {
  color: $lightBlueA400;
}

h3 {
  color: $white;
}

.background {
  background-image: url("/images/material_background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;
  background-size: cover;
}
.background-dimmer {
  background-color: rgba(0,0,0,0.45);
}
.background, .background-dimmer {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.title {
  color: $white;
}
#top-nav {
  z-index: 9999;
  position: fixed;
  width: 100%;
  top: 0px;
}

.list-striped {
  li {
    background-color: rgba(0,0,0,0.6);
    margin-top: 1px;
    padding-top: 5px;
    border-left: 1px solid $lime900;
    padding-top: 8px;
    padding-bottom: 8px;
    .index-actions {
      opacity: 0;
    }
    &:hover {
      background-color: rgba(0,0,0,0.7);
      border-left: 1px solid $limeA700;
      .index-actions {
        opacity: 1.0;
        transition: border 400ms;
      }
    }
  }
}

.title {
    font-size: 96px;
    font-weight: 100;
}

.index-page {

  .list-header {
    border-left: 3px solid $lightBlue;
    margin-bottom: 2px;
    background-color: rgba(0,0,0,0.7);
    .title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-overflow: " …";
      width: 200px;
      display: inline-block;
    }
    h4 {
      color: $darkWhite;
      display: inline-block;
      vertical-align: middle;
    }
    &:hover {
      border-color: $limeA700;
      background-color: rgba(0,0,0,0.8);
    }
  }
  .content {
    margin-top: 25px;
    padding-bottom: 25px;
  }
  .title {
    font-size: 12pt;
    font-weight: 400;
    .text {
      color: $white;
      margin-right: 15px;
    }
  }
  .actions {
    float: right;
    .btn-secondary {
      padding: 2px 5px;
    }
  }
}