#card-page {
  background-image: url("/images/cards_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .list > li {
    border-bottom: 1px solid $lightOrange;
    ul {
      list-style-type: none;
      padding-left: 0;
    }
  }
  .card {
    &.empty {
      border-top: 5px solid red;
    } 
  }
}
#cards {
  h1 {
    color: $lightBrown;
  }
  .container {
  	margin-top: 60px;
  }
  .cke_contents {
    height: 200px !important;
  }
  #action-box {
  	top: 50px;
  }
  .left-options {
  	top: 50px;
  }

}