#card-page {
  background-image: url("/images/cards_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .list > li {
    border-bottom: 1px solid $lightOrange;
    ul {
      list-style-type: none;
      padding-left: 0;
    }
  }
  .card {
    &.empty {
      border-top: 5px solid red;
    } 
  }
  .toggle-actions {
    padding-top: 20px;
  }
}


#cards {
  h1 {
    color: $lightBrown;
  }
  .container {
  	margin-top: 80px;
  }
  .cke_contents {
    height: 200px !important;
  }
  #action-box {
  	top: 70px;
  }
  .left-options {
  	top: 70px;
  }
}

@media (min-width: 1500px){
  .container {
    width: 1400px;
  }
}

@media (min-width: 1800px){
  .container {
    width: 1780px;
  }
}

#card-page {
  .container {
    width: 1170px;
  }
}