$xsDiameter: 100px;
$xssmDiameter: 150px;
$smDiameter: 200px;
$smmdDiameter: 220px;
$mdDiameter: 240px;
$lgDiameter: 290px;
$xlDiameter: 320px;

.circle {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	border: 3px solid $white;
	box-shadow: inset 2px 2px 2px $black;

	.name {
		position: relative;
		text-align: center;
		font-size: 15px;
		color: white;
		font-weight: 700;
		text-shadow: 1px 1px 1px #111;
	}

	&.yellow {
		background-color: $yellow800;
	}
	&.red {
		background-color: $red800;		
	}
	&.lime {
		background-color: $lime700;
	}
	&.lime2 {
		background-color: $lime900;
	}
	&.teal {
		background-color: $teal400;
	}
	&.light-blue {
		background-color: $lightBlue800;
	}
	&.deep-orange {
		background-color: $deepOrange800;
	}
	&.purple {
		background-color: $purple800;
	}
	&.grey {
		background-color: $grey800;
	}
	&.amber {
		background-color: $amber800;
	}
	&.amber2 {
		background-color: $amber400;
	}
	&.blue-grey {
		background-color: $blueGrey600;
	}
	&.green {
		background-color: $green800;
	}
	&.indigo {
		background-color: $indigo800;
	}
	&.cyan {
		background-color: $cyan900;
	}
	&.light-green {
		background-color: $lightGreen700;
	}

	&.circle-xs {
		width: $xsDiameter;
		height: $xsDiameter;
		border-radius: ($xsDiameter / 2);
		.name {
			top: 40px;
		}
	}
	&.circle-sm {
		width: $smDiameter;
		height: $smDiameter;
		border-radius: ($smDiameter / 2);
		.name {
			top: 90px;
		}
	}
	&.circle-md {
		width: $mdDiameter;
		height: $mdDiameter;
		border-radius: ($mdDiameter / 2);
		.name {
			top: 110px;
		}
	}
	&.circle-lg {
		width: $lgDiameter;
		height: $lgDiameter;
		border-radius: ($lgDiameter / 2);
		.name {
			top: 135px;
		}
	}
	&.circle-xl {
		width: $xlDiameter;
		height: $xlDiameter;
		border-radius: ($xlDiameter / 2);
		.name {
			top: 150px;
		}
	}
	&.circle-xs-sm {
		width: $xssmDiameter;
		height: $xssmDiameter;
		border-radius: ($xssmDiameter / 2);
		.name {
			top: 65px;
		}
	}
}