#action-box {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 9999;
}

.left-options {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.left-word-count {
	position: fixed;
	bottom: 10px;
	left: 10px;
}
#word-count {
	box-shadow: inset 4px 4px 4px $darkBlack;
	padding: 5px;
	border-top: 1px solid $black;
	border-right: 1px solid $lightWhite;
	border-bottom: 1px solid $lightWhite;
	border-left: 1px solid $black;
	background-color: $lightBlack;
	color: $blueGrey200;
	border-radius: 5px;
}
.left-nav {
	.logout {
		position: absolute;
		bottom: 0px;
		left: 0px;
	}
}

.search-container {
	margin-bottom: 15px;
	.search-results {
		width: 30%;
	}
}