#note-page {
  .container {
  	margin-top: 80px;
  }
}
#course-page { 
	button[type=submit] {
		margin-top: 15px;
	}
	&.container {
  	margin-top: 80px;
  	padding-bottom: 0;
	}
}
#note-page {
	.container {
		padding-bottom: 15px;
	}
}
#notes {
  .title {
  	width: 300px;
  	display: inline-block;
  	overflow: hidden;
  	white-space: nowrap;
		text-overflow: ellipsis;
		text-overflow: " …";
		color: $white;
		vertical-align: middle;
		.text {
			vertical-align: middle;
		}
	}
}

@media(min-width: 970px){
	#note-page {
		.cke_contents {
			height: 400px; 
		}
	}
	#notes {
		.accordion-body {
			max-height: 360px;
			overflow-y: hidden;
			&:hover {
				overflow-y: scroll;
			}
		}
	}
}

@media (min-width: 1300px){
  #note-page{
  	.container {
    	width: 900px;
  	}
	}
}


@media (min-width: 1500px){
	#note-page, .footer-fixed-bottom  {
		.container {
		  width: 900px;
		}
		.cke_contents {
			height: 500px !important;
		}
	}
	#notes {
		.accordion-body {
			max-height: 400px;
			overflow-y: scroll;
		}
	}
}
@media (min-width: 1900px){
	#note-page {
		.cke_contents {
			height: 680px !important;
		}
	}
	#notes {
		.accordion-body {
			max-height: 400px;
			overflow-y: scroll;
		}
	}
}
@media (min-width: 1800px){
	#note-page, .footer-fixed-bottom {
		.container {
		  width: 800px;
		}
	}
	#notes {
		.accordion-body {
			max-height: 550px;
			overflow-y: scroll;
		}
	}
}
