#note-page {
  // background-image: url("/images/notes_background.jpg");
  .container {
  	padding-bottom: 15px;
  }
}
.list-header {
	border-left: 1px solid $lightBlue;
	margin-bottom: 2px;
	h4 {
		color: $darkWhite;
		// text-shadow: 1px 1px 4px $white;
	}
	&:hover {
		border-color: $limeA700;
		background-color: rgba(0,0,0,0.8);
	}
}

@media(max-width: 970px){
	#note-page {
		.cke_contents {
			height: 360px !important; 
		}
	}
}
@media (min-width: 1500px){
	#note-page, .footer-fixed-bottom  {
		.container {
		  width: 1400px;
		}
		.cke_contents {
			height: 600px !important;
		}
	}
}
@media (min-width: 1900px){
	#note-page {
		.cke_contents {
			height: 800px !important;
		}
	}
}
@media (min-width: 1800px){
	#note-page, .footer-fixed-bottom {
		.container {
		  width: 1780px;
		}
	}
}
