// Colours
//
$primaryColor: #CFD198;
$backgroundColor: #000000;
$btnPrimary: #353535;
$successColor: #34D556;
$white: #e6e6e6;
$darkOrange: #B44012;
$middleOrange: #B98940;
$lightOrange: #C26811;
$lightBrown: #FFCE7F;
$lightBlue: #008B95;
$whiteBlue: #E6F2F6;
$green: #4cae4c;
$hoverGreen: #45CF45;